$primaty-cyan-dark: #2b788b;
$primaty-cyan-light: #c3dce3;
$primaty-pink-dark: #945069;
$primaty-pink-light: #f2d4dc;
$primaty-black: #000;
$primaty-grey-light: #f6f5f4;
$primaty-grey-medium: #e0e0e0;
$primaty-grey-icon: #bababa;
$primaty-grey-dark: #757575;
$secondary-cyan: #5996a5;
$secondary-green: #639b6d;
$secondary-pink: #a15993;
$secondary-red: #a95151;
$secondary-yellow: #c4a24c;
$secondary-orange: #cb5b43;
$shadow-light: 0px 22.89813px 45.79626px -11.44906px rgba(52, 41, 39, 0.08);
$shadow-dark: 0px 11.44906px 11.44906px 0px rgba(52, 41, 39, 0.04),
  0px 11.44906px 68.6944px 0px rgba(52, 41, 39, 0.04),
  0px 68.6944px 68.6944px 0px rgba(52, 41, 39, 0.04),
  0px 91.59251px 91.59251px 0px rgba(52, 41, 39, 0.04),
  0px 183.18503px 183.18503px 0px rgba(52, 41, 39, 0.12),
  0px 343.47195px 343.47195px 0px rgba(52, 41, 39, 0.08);