@import "./test";

div {
  background-color: $background-primary;
}

@mixin text-formatter($fontSize) {
  background-color: transparent;
  color: red;
  font-size: $fontSize;
  letter-spacing: 1px;
  line-height: 24px;
}

h1 {
  @include text-formatter(16px);
}

h4 {
  @include text-formatter(14px);
}
