/* http://meyerweb.com/eric/tools/css/reset/
   v5.0.2 | 20191019
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cantarell:ital,wght@0,400;0,700;1,400;1,700&family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
main,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
}

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none;
}

body {
  line-height: 1;
}

menu,
ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-style: "Lexend";
}

.sidebar {
  overflow-y: auto;
  width: 322px;
  height: 100vh;
  display: flex;
  padding: 40px 95px 0px 35px;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
  background: linear-gradient(173deg, #151312 29.79%, #29262c 107.6%);
  background-blend-mode: normal, overlay, normal;
  box-shadow: 0px 5.723px 34.338px -1.431px rgba(0, 0, 0, 0.2);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
}
@media screen and (max-width: 1115px) {
  .sidebar {
    padding: 40px 66px 0px 35px;
  }
}
@media screen and (max-width: 428px) {
  .sidebar {
    display: none;
  }
}
.sidebar .logo {
  display: flex;
  align-items: center;
  gap: 16px;
  padding-bottom: 47px;
}
.sidebar .logo .burger-icon {
  display: none;
}
.sidebar .logo span {
  color: #fff;
  font-size: 25.2px;
  font-weight: 700;
  line-height: normal;
  font-style: normal;
  font-family: "Lexend";
  transition: 0.3s color;
  cursor: pointer;
}
.sidebar .logo span:hover {
  color: normal;
}
.sidebar .logo span span {
  color: #5bc47b;
}
.sidebar .nav-items .general-pages,
.sidebar .nav-items .support-pages {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  padding-top: 16px;
  padding-bottom: 24px;
}
.sidebar .nav-items h4 {
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
  font-style: normal;
  font-family: "Lexend";
  transition: 0.3s color;
  font-family: Cantarell;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 8px 0px;
  gap: 4px;
}
.sidebar .nav-items h4:hover {
  color: #5bc47b;
}
.sidebar .nav-items p {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  font-style: normal;
  font-family: "Lexend";
  transition: 0.3s color;
  cursor: pointer;
  padding: 8px 16px;
  display: flex;
  gap: 8px;
  align-items: center;
}
.sidebar .nav-items p:hover {
  color: #5bc47b;
}

@media screen and (max-width: 428px) {
  .logo {
    display: flex;
    width: 428px;
    padding: 8px 12px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background: #151312;
  }
}
.main {
  display: flex;
  width: calc(100% - 322px);
  height: 100vh;
  background-image: url("../assets/images/bg-desktop.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}
@media screen and (max-width: 1115px) {
  .main {
    background-image: url(../assets/images/bg-tablet.png);
    width: calc(100% - 290px);
  }
}
@media screen and (max-width: 428px) {
  .main {
    background-image: url(../assets/images/bg-mobile.png);
    width: 100%;
  }
}