* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.class-container {
  width: 1350px;
  height: 700px;
  padding: 30px 40px;
  margin: 30px auto;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.class {
  width: 300px;
  height: 296px;
  border: 1px solid rgb(185, 181, 181);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.class .class__header {
  height: 100px;
  background: rgb(86, 31, 86);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}
.class .class__header img {
  width: 6px;
  height: 24px;
  cursor: pointer;
}

.class .class__header a {
  font-size: 24px;
  text-decoration: none;
  color: white;
  cursor: pointer;
}
.class .class__footer img {
  width: 20px;
  cursor: pointer;
}
.class .class__footer {
  display: flex;
  justify-content: end;
  padding: 20px;
  gap: 20px;
  border-top: 1px solid gray;
}
