.card {
  width: 200px;
  height: 200px;
  background-color: pink;
}
.card .heading {
  background-color: rgb(35, 221, 35);
  font-size: 20px;
}
.card .heading h1 {
  color: yellow;
}
.card .heading button {
  border-radius: 10px;
}