* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@mixin forsize($screen) {
  @if $screen == mobile {
    @media screen and (max-width: 1200px) {
      @content;
    }
  }
}
@mixin text-formatter($fontWeight, $color: black, $fontSize: 16px) {
  font-weight: $fontWeight;
  color: $color;
  font-size: $fontSize;
  line-height: normal;
  font-style: normal;
  font-family: "Inter", sans-serif;
}

.navbar {
  p {
    @include text-formatter(700, #fff, 24px);
  }

  img {
    display: none;
  }
}

.container {
  width: 1160px;
  margin: auto;
}

.hero-section {
  background-image: url("./assets/images/picture.png");
  background-size: cover;
  margin: auto;
  height: 100vh;

  h1 {
    @include text-formatter(700, #fff, 128px);
    text-align: center;
    padding-top: 150px;
    @include forsize(mobile) {
      @include text-formatter(700, #fff, 64px);
      padding-top: 80px;
    }
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    padding-top: 46px;
  }
}
.rightside {
  padding: 0px 30px;
  height: 43px;
  display: flex;
  column-gap: 60px;
  border: 1px solid #fff;
  border-radius: 20px;
  width: 391px;
  justify-content: center;
  align-items: center;

  a {
    @include text-formatter(400, #fff, 14px);
    text-decoration: none;
  }
}

.searchbar {
  display: flex;
  padding-left: 28px;
  align-items: center;
  width: 549px;
  height: 58px;
  background-color: white;
  margin: auto;
  margin-top: 100px;
  border-radius: 25px;
  border: 1px solid #003c82;
  position: relative;
  column-gap: 35px;

  @include forsize(mobile) {
    width: 100%;
    height: fit-content;
    flex-direction: column;
    padding-left: 0;
  }

  .seperator {
    @include forsize(mobile) {
      display: none;
    }
  }

  .search {
    @include text-formatter(500, #000, 20px);
    display: flex;
    align-items: center;
    column-gap: 10px;

    @include forsize(mobile) {
      width: 100%;
      padding: 20px;
      justify-content: space-between;
      border-bottom: 1px solid #000;
    }
  }
  .search-button-mobile {
    display: none;
    @include forsize(mobile) {
      padding: 15px 40px;
      display: initial;
      width: calc(100% - 40px);
      margin: 25px 20px;
      border-radius: 25px;
      border: 1px solid #003c82;
      background-color: transparent;
      color: #003c82;
      font-size: 20px;
      font-weight: 500;
      transition: 0.2s;

      &:hover {
        background-color: #003c82;
        color: white;
      }
    }
  }

  .search-button {
    cursor: pointer;
    width: 48px;
    height: 48px;
    padding: 12px;
    position: absolute;
    right: 5px;
    top: 5px;
    border-radius: 100px;
    background: #003c82;
    border: none;
    transition: 0.2s;
    @include forsize(mobile) {
      display: none;
    }
    &:hover {
      opacity: 0.8;
    }
  }
}

main {
  section {
    padding-bottom: 50px;
    display: flex;
    column-gap: 228px;

    .left-side {
      width: 566px;
      margin-top: 299px;

      h2 {
        @include text-formatter(600, #000, 48px);
      }

      p {
        @include text-formatter(400, #000, 14px);
        margin-top: 80px;
      }

      .numbers {
        display: flex;
        column-gap: 100px;
        margin-top: 50px;

        h3:first-child {
          @include text-formatter(500, #000, 24px);
        }

        h3:last-child {
          @include text-formatter(500, #000, 24px);
        }
      }

      button {
        @include text-formatter(500, #003c82, 20px);
        text-align: center;
        background: none;
        padding: 15px 40px;
        border-radius: 25px;
        border: 1px solid #003c82;
        cursor: pointer;
        margin-top: 108px;
      }
    }

    .right-side {
      margin-top: 299px;

      video {
        width: 466px;
        height: 521px;
        border-radius: 20px;
        object-fit: fill;
      }
    }
  }
}

@include forsize(mobile) {
  .rightside {
    display: none;
  }
  .navbar {
    img {
      display: initial;
    }
  }

  .container {
    width: 393px;
  }
  main {
    section {
      display: flex;
      flex-direction: column;

      .left-side {
        width: 100%;
        margin-top: 100px;
        p {
          @include text-formatter(400, black, 14px);
          text-align: center;
          margin-top: 60px;
        }
        h2 {
          @include text-formatter(600, #000, 32px);
          text-align: center;
        }
        .numbers {
          justify-content: center;
          margin-top: 40px;
          h3 {
            @include text-formatter(500, #000, 20px);
            text-align: center;
          }
        }
        .contact-us-btn {
          margin-left: 50%;
          transform: translateX(-50%);
        }
      }
      .right-side {
        display: flex;
        justify-content: center;
        margin-top: 80px;

        video {
          width: 100%;
          height: 398px;
        }
      }
    }
  }
}
